extends layout

block content
   
    div(class="cointainer")
        header
            h2
                a(class="logo" href="/") SSEARCH
            div(class="nav")
                a(class="headerNav" href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                a(class="headerNav" href="/login") Zaloguj się
                a(class="headerNav" href="/register") Utwórz konto  
        div(class="searchContainer text-center")
            h1= message
            h2= logoutMessage
            form(class="example" method="GET")
                input(type="text" placeholder="Search.." name="search")
                button(type="submit") SEARCH
        div(class="productsContainer")
            each a in products
                div(class='searches')
                    a(class= "searchesSpace" href="/product?id="+a.product_id)
                        img(src=a.img alt=a.name)
                        h5 Nazwa: #{a.name}
                        h5(class="productsPrice") Cena: #{a.price} zł
                        br