extends layout

block content

    div(class="cointainer")
        header
            h2
                a(class="logo" href="/") SSEARCH
            div(class="nav")
                a(class="headerNav" href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                a(class="headerNav" href="/") Strona główna
                a(class="headerNav" href="/login") Zaloguj się
                a(class="headerNav" href="/register") Utwórz konto
        div(class="product")
            img(class="productIMG" src=product.img alt=product.name)
            p= product.name
            p Cena: #{product.price} zł
            br
            div(class="shops")
            h3(class="shopsText my-5") Sklepy z najlepszymi cenami: 
                each a in product.shops
                    br
                    a(class="mainShop" href=a.link)
                        ul
                            li
                                img(class = "mainShopIMG" src=a.shop alt=product.name)
                                figcaption #{a.price} zł                               